{% include base_path %}

<!-- start custom head snippets -->

<!-- Support for Academicons -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>

<!-- favicon -->
<link rel="apple-touch-icon" sizes="1113x1113" href="{{ base_path }}/images/temp_name_for_page_icon.png"/>
<link rel="icon" type="image/png" sizes="1113x1113" href="{{ base_path }}/images/temp_name_for_page_icon.png"/>
<link rel="manifest" href="{{ base_path }}/images/manifest.json"/>
<meta name="theme-color" content="#faf9f5" media="(prefers-color-scheme: light)"/>
<meta name="theme-color" content="#141413" media="(prefers-color-scheme: dark)"/>

<!-- end custom head snippets -->
